*.blg
*.synctex.gz
_minted*
.doit.db
__pycache__

first_example.tex
bin_edges.tex
finite_precision.tex
zero_index.tex
notebook_nonlinear.tex
copying.tex
list.tex
types.tex
help_commands.tex

matplotlib_default.pdf
matplotlib_default.pdf_tex
matplotlib_seaborn.pdf
matplotlib_seaborn.pdf_tex
indexing.pdf
indexing.pdf_tex
shallow_copy.pdf
shallow_copy.pdf_tex
deep_copy.pdf
deep_copy.pdf_tex
Python-FirstSteps.pdf


